.projects {
    display: flex;
    height: 100vh;
    background-color: #F8F7FF;
}

.left-section {
    background-color: #FFFFFF;
    flex: 2;
    color: black;
    display: flex;
    flex-direction: column;
}

.left-section header {
    padding: 75px 16px 25px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer img {
    width: 30%;
    margin-right: 10px;
}

.iconContainer p {
    font-size: 22px;
    color: #403B61;
}

.left-section main {
    padding: 0px;
}

.menuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #403B61; */
    padding: 100px 0px 100px 80px;
}

.menuContainer h2 {
    color: #9F9DB0;
}

.menuContainer p {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 8px 8px 0 8px;
    cursor: pointer;
}

.menuItem p {
    color: #9F9DB0;
}

.menuItem.active p,
.menuItem.active svg {
    color: #403B61;
    opacity: 1;
}

.menuItem svg {
    height: 8%;
    width: 8%;
    margin-right: 10px;
    color: #9F9DB0;
}

.indicator {
    position: absolute;
    right: 0;
    width: 8px;
    height: 45px;
    background-image: linear-gradient(to bottom, #BA5CDB, #00CFFC);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    transition: top 0.3s ease;
}

.center-section {
    flex: 6;
    color: black;
    /* background-color: #BA5CDB; */
}

.center-section header {
    padding: 75px;

    display: flex;
    justify-content: space-between;
}

header input {
    height: 45px;
    width: 60%;
    padding: 0 20px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    background-color: white;
}

header input:focus {
    outline: none;
    /* border: solid 2px #9F19CC; */
}

header button {
    width: 20%;
    height: 45px;
    border: solid 2px #9F19CC;
    border-radius: 50px;
    background: none;
    color: #9F19CC;
    cursor: pointer;
    font-size: 18px;
}

.center-section main {
    padding: 0 75px 0 75px;
}

.right-section {
    background-color: white;
    flex: 2;
    color: black;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    border-radius: 50px 0 0 50px;
}

.right-section header {
    padding: 80px 0 0 40px;
    font-size: 22px;
}