.projects {
    display: flex;
    height: 100vh;
    background-color: #F8F7FF;
}

.leftSection {
    background-color: #FFFFFF;
    flex: 2;
    color: black;
    display: flex;
    flex-direction: column;
}

.leftHeader {
    padding: 75px 16px 25px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer img {
    width: 30%;
    margin-right: 10px;
}

.iconContainer p {
    font-size: 22px;
    color: #403B61;
}

.menuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 0px 100px 80px;
}

.menuContainer h2 {
    color: #9F9DB0;
}

.menuContainer p {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 8px 8px 0 8px;
    cursor: pointer;
}

.menuItem p {
    color: #9F9DB0;
}

.menuItem svg {
    height: 8%;
    width: 8%;
    margin-right: 10px;
    color: #9F9DB0;
}

.menuItem.active p,
.menuItem.active svg {
    color: #403B61;
    opacity: 1;
}

.indicator {
    position: absolute;
    right: 0;
    width: 8px;
    height: 45px;
    background-image: linear-gradient(to bottom, #BA5CDB, #00CFFC);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    transition: top 0.3s ease;
}

.h2 {
    font-weight: 500;
    color: #403B61;
}

.centerSection {
    flex: 6;
    color: black;
}

.centerHeader {
    padding: 75px;
    display: flex;
    justify-content: space-between;
}

.searchBar {
    height: 45px;
    width: 60%;
    padding: 0 20px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    background-color: white;
    font-family: inherit;
    font-weight: 400;
    color: #403B61;
}

.searchBar:focus {
    outline: none;
    box-shadow: 0 0 0 2px #BA5CDB;
}

.newProjectBtn {
    width: 20%;
    height: 45px;
    border: solid 2px #9F19CC;
    border-radius: 50px;
    background: none;
    color: #9F19CC;
    cursor: pointer;
    font-size: 18px;
}

.newProjectBtn:hover {
    background: linear-gradient(150deg, #BA5CDB 0%, #00CFFC 100%);
    color: white;
    border: none;
}

.centerMain {
    padding: 0 75px;
}

.rightSection {
    background-color: white;
    flex: 2;
    color: black;
    border-radius: 50px 0 0 50px;
}

.rightHeader {
    padding: 80px 0 0 40px;
    font-size: 22px;
}