@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  /* background-color: aliceblue; */
  padding: 0;
  margin: 0;

  font-family: 'Kanit', 'sans-serif';
}

header, main {
  padding: 0px 150px 0 150px;
}

header {
  padding-top: 80px;
}

/* 
header {
  background-color: aqua;
}

main {
  background-color: red;
}

footer {
  background-color: antiquewhite;
} */