.container {
    font-family: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 80px 150px 0 150px;
}

.iconContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconContainer img {
    width: 35%;
}

.iconContainer p {
    font-size: 30px;
    color: #403B61;
    font-family: inherit;
}

.signInSignUpContainer {
    display: flex;
    align-items: center;
}

.signInSignUpContainer button {
    margin: 0 10px;
    padding: 5px 25px;
    font-family: inherit;
    font-weight: 500;
    /* Explicitly inherit Kanit font */
}

.signUp {
    background: none;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #BA5CDB, #00CFFC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
}

.signIn {
    background-image: linear-gradient(2deg, #9F19CC 0%, #00CFFC 100%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.descContainer {
    position: relative;
    bottom: 40px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
}

.descContainer p {
    font-size: 80px;
    font-weight: 600;
    color: #403B61;
    line-height: 110%;
    font-family: inherit;
}

.descContainer p span {
    color: #BA5CDB;
}

.startButton {
    position: relative;
    top: 30px;
    width: 45%;
    height: 10%;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to bottom right, #BA5CDB, #00CFFC);
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: inherit;
}

.main img {
    max-width: 750px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(90deg, #416EDA 0%, #9F19CC 100%);
    border-radius: 30px 30px 0 0;
}